.footer {
    padding: 2rem 0;
    margin-top: 5rem;
}

.footer__title {
    font-size: var(--size-base);
    font-weight: 400;
    color: var(--clr-slate600);
    text-align: center;
    letter-spacing: 0.02em;
    user-select: none;
}